$BrightRed: #f25f3b;
$h-color: hsl(228, 39%, 23%);


$text-color: hsl(227, 12%, 61%);
$VeryDarkBlue: hsl(233, 12%, 13%);
$body-background: hsl(13, 100%, 96%);


// $font-weights:(
//     "Normal":400,
//     "Medium":500,
//     "Bold":700
// );


$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;