$BrightRed: hsl(12, 88%, 59%);
$h-color: hsl(228, 39%, 23%);


$text-color: hsl(227, 12%, 61%);
$VeryDarkBlue: hsl(233, 12%, 13%);
$body-background: hsl(13, 100%, 96%);


$font-weights:(
    "regular":400,
    "medium":500,
    "bold":700
);